<div class="container-fluid page-body-wrapper">



  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-row" style="overflow: visible;"
    *ngIf="false">
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown" style="position: relative;">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
          data-bs-toggle="dropdown">
          <i class="ti-bell mx-0"></i>
          <span class="count"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown"
          style="position: absolute;">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-success">
                <i class="ti-info-alt mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">Application Error</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                If Your Web Pannel Not working Properly or <span style="color: red;"> not showing GRAPH</span>, Refresh
                The Page
              </p>
            </div>
          </a>
          <a class="dropdown-item" *ngIf="false">
            <div class="item-thumbnail">
              <div class="item-icon bg-warning">
                <i class="ti-settings mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">Settings</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Private message
              </p>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-info">
                <i class="ti-user mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">New user registration</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                2 days ago
              </p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>



  <div class="main-panel" style="width: 100%; position: relative; overflow: visible;">

    <div class="content-wrapper">

 <div class="row">
        <div class="col-sm-3 grid-margin" *ngFor="let details of transitRecords" style="padding: 0;">
          <div class="card"   style="padding: 0;margin-right: 2px;"  [ngStyle]="{'background-color': getCardColor(details.zoneCode)}">
            <!-- [ngStyle]="{'background-color': getCardColor(details.zoneCode)}" -->
            <div class="card-body"  style="padding-bottom: 0px;margin: 0;">
              <div class="row" >

                <div class="col-sm-4" >
                  <!--  [ngStyle]="{'color': getCardColor(details.zoneCode)}" -->
                  <p class="card-title text-md-center text-xl-left"  style="font-size: 13px;font-weight: bold;color: black;text-shadow: 1px 1px 4px white;"

                  >{{ details.zoneName }}</p>
                </div>

                <div class="col-6 col-sm-4" >
                  <p class=" text-primary" style="font-size: 12px;">
                    In-Transit
                    <span class="text-black ms-1"><small style="font-weight: bold;">({{ details.inTransit }})</small></span>
                  </p>

                  <div class="row col-md-12" style="width: 100%;" *ngIf="false">
                    <div class="col-sm-6">
                      <img src="assets/pjlphotos/MP_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'MP'">
                      <img src="assets/pjlphotos/CU_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'CUP'">
                      <img src="assets/pjlphotos/EU_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'EUP'">
                      <img src="assets/pjlphotos/BIHAR_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'BH'">

                    </div>
                    <div class="col-sm-6" style="z-index: 700;">



                      <div class="navbar-menu-wrapper d-flex align-items-center">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown" style="z-index: 700; position: relative;">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                              data-bs-toggle="dropdown" (click)="getArrivalData()">
                              <b>Arrival</b>
                              <span class="count"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                              aria-labelledby="notificationDropdown" style="z-index: 700; right: 0; left: auto;">
                              <p class="mb-0 font-weight-normal float-left dropdown-header" *ngIf="details.zoneCode == 'MP'">Expected Arrival Rakes - <span style="color: blue;">Madhya Pradesh</span></p>

                               <p class="mb-0 font-weight-normal float-left dropdown-header" *ngIf="details.zoneCode == 'CUP'">Expected Arrival Rakes - <span style="color: blue;">Central UP</span></p>

                               <p class="mb-0 font-weight-normal float-left dropdown-header" *ngIf="details.zoneCode == 'EUP'">Expected Arrival Rakes - <span style="color: blue;">Eastern UP</span></p>
                               <p class="mb-0 font-weight-normal float-left dropdown-header" *ngIf="details.zoneCode == 'BH'">Expected Arrival Rakes - <span style="color: blue;">Bihar</span></p>

                              <!-- Use *ngFor to loop through arrivalData array and display the items -->
                              <!-- <a *ngFor="let item of arrivalData" class="dropdown-item">
                                <div class="item-thumbnail">
                                  <div class="item-icon bg-info">
                                    <i class="ti-train mx-0"></i>
                                  </div>
                                </div>
                                <div class="item-content">
                                  <h6 class="font-weight-normal">{{ item.title }}</h6>
                                  <p class="font-weight-light small-text mb-0 text-muted">{{ item.description }}</p>
                                </div>
                              </a> -->

                              <a class="dropdown-item">

                                <div class="item-content">
                                  <h6 class="font-weight-normal">Within 2 hours</h6>
                                  <p class="font-weight-light small-text mb-0 text-muted">
                                    <li>Rakes1</li>
                                    <li>Rakes2</li>
                                  </p>
                                </div>
                              </a>
                              <a class="dropdown-item">

                                <div class="item-content">
                                  <h6 class="font-weight-normal">Within 4 hours</h6>
                                  <p class="font-weight-light small-text mb-0 text-muted">
                                    <li>Rakes3</li>
                                    <li>Rakes4</li>
                                  </p>
                                </div>
                              </a>
                              <!-- Display a message if there's no data -->
                              <p *ngIf="arrivalData.length === 0" class="text-muted small-text">No arrivals expected.</p>
                            </div>
                          </li>
                        </ul>
                      </div>



                    </div>
                  </div>



                </div>
                <div class="col-6 col-sm-3" style="padding: 0;margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class="" id="more1"  style="color: white;">more details..</p>
                  </div>
                </div>


              </div>


              <div class="row">
                <div class="col-4 col-sm-4" style="padding: 0; margin: 0;">
                  <i style="font-size: 10px;font-weight: bold;">Expected Arrival:</i>
                </div>
                <div class="col-4 col-sm-4" style="padding: 0; margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class="text-primary" id="more">Reached: ({{details.reached}})</p>
                  </div>
                </div>
                <div class="col-4 col-sm-3" style="padding: 0; margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class="text-primary" id="more">At Source: ({{details.awating}})</p>
                  </div>
                </div>
              </div>


              <div class="row">

                <!-- <div class=" col-6  col-sm-3" style="padding: 0;margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class=" text-primary" id="more">2hours: ({{details.twoHours}})</p>
                  </div>
                </div> -->

                <div class=" col-6  col-sm-4" style="padding: 0;margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class=" text-primary" id="more">4hrs: ({{details.fourHours}})</p>
                  </div>
                </div>
                <div class="col-6  col-sm-4" style="padding: 0;margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class=" text-primary" id="more">8hrs: ({{details.eightHours}})</p>
                  </div>
                </div>
                <div class="col-6  col-sm-4" style="padding: 0;margin: 0;">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class=" text-primary"  id="more">12& above ({{details.twelveHours}})</p>
                  </div>
                </div>


              </div>

            </div>

          </div>


        </div>
      </div>












     <div class="row">
      <div class="col-sm-11">
        <div id="map" style="height: 500px; width:100%;"></div>

      </div>
      <div class="col-sm-1">
        <div class="container" style=""  >




            <div class="row">
                <div class="col-12">
                    <span class="text-muted text-center text-sm-left d-block">Source:
                        <img src="assets/pjlphotos/D6.png" alt="" width="50px">
                    </span>
                </div>
                <div class="col-12">
                  <span class="text-center d-block mt-1 mt-sm-0">Current:
                      <img src="assets/pjlphotos/D7.png" alt="" width="50px">
                  </span>
              </div>
                <div class="col-12">
                    <span class="text-muted text-center text-sm-left d-block">Destination:
                        <img src="assets/pjlphotos/ware1.png" alt="" width="50px">
                    </span>
                </div>

            </div>
        <!-- </footer> -->

        </div>
      </div>
     </div>



    </div>

  </div>

</div>
