<div class="container-fluid page-body-wrapper">



  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-row" style="overflow: visible;"
    *ngIf="false">
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown" style="position: relative;">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
          data-bs-toggle="dropdown">
          <i class="ti-bell mx-0"></i>
          <span class="count"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown"
          style="position: absolute;">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-success">
                <i class="ti-info-alt mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">Application Error</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                If Your Web Pannel Not working Properly or <span style="color: red;"> not showing GRAPH</span>, Refresh
                The Page
              </p>
            </div>
          </a>
          <a class="dropdown-item" *ngIf="false">
            <div class="item-thumbnail">
              <div class="item-icon bg-warning">
                <i class="ti-settings mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">Settings</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Private message
              </p>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-info">
                <i class="ti-user mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">New user registration</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                2 days ago
              </p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>



  <div class="main-panel" style="width: 100%; position: relative; overflow: visible;">
    <div class="content-wrapper">

      <div class="row" *ngIf="false">
        <div class="col-md-3 grid-margin" *ngFor="let details of transitRecords">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-md-center text-xl-left">{{ details.zoneCode }}</p>
              <div
                class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                <p class="mb-0 mt-2 text-primary">
                  In-Transit
                  <span class="text-black ms-1"><small>({{ details.inTransit }})</small></span>
                </p>
                <img src="assets/pjlphotos/MP_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'MP'">
                <img src="assets/pjlphotos/CU_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'UPCenter'">
                <img src="assets/pjlphotos/EU_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'EasternUP'">
                <img src="assets/pjlphotos/BIHAR_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'BIHAR'">
              </div>


              <div class="row">
                <div class="col-sm-6">




                </div>

                <div class="col-sm-6">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class="mb-0 mt-2 text-primary" style="float: right;" id="more">more details..</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 grid-margin" *ngFor="let details of transitRecords">
          <div class="card" style="overflow: visible;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <p class="card-title text-md-center text-xl-left">{{ details.zoneCode }}</p>
                </div>

                <div class="col-sm-7">

                  <div class="row col-md-12" style="width: 100%;">
                    <div class="col-sm-6">
                      <img src="assets/pjlphotos/MP_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'MP'">
                      <img src="assets/pjlphotos/CU_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'CUP'">
                      <img src="assets/pjlphotos/EU_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'EUP'">
                      <img src="assets/pjlphotos/BIHAR_ZONE.png" alt="" width="50px" *ngIf="details.zoneCode == 'BH'">

                    </div>
                    <div class="col-sm-6" style="z-index: 700;">


                      <div class="navbar-menu-wrapper d-flex align-items-center">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown" style="z-index: 700; position: relative;">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                              data-bs-toggle="dropdown">
                              <!-- <i class="ti-bell mx-0"></i> -->
                              <!-- <i class="fas fa-plane-arrival mx-0"></i>  -->
                              <!-- <i class="fas fa-train mx-0"></i> -->
                              <b>Arrival</b>

                              <span class="count"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                              aria-labelledby="notificationDropdown" style="z-index: 700; right: 0; left: auto;">
                              <p class="mb-0 font-weight-normal float-left dropdown-header">Expected Arrival Rakes</p>
                              <a class="dropdown-item">
                                <div class="item-thumbnail">
                                  <div class="item-icon bg-success">
                                    <i class="ti-info-alt mx-0"></i>
                                  </div>
                                </div>
                                <div class="item-content">
                                  <h6 class="font-weight-normal">Application Error</h6>
                                  <p class="font-weight-light small-text mb-0 text-muted">
                                    If Your Web Panel Not Working Properly or <span style="color: red;">not showing
                                      GRAPH</span>, Refresh The Page
                                  </p>
                                </div>
                              </a>

                              <a class="dropdown-item">
                                <div class="item-thumbnail">
                                  <div class="item-icon bg-info">
                                    <i class="ti-user mx-0"></i>
                                  </div>
                                </div>
                                <div class="item-content">
                                  <h6 class="font-weight-normal">New user registration</h6>
                                  <p class="font-weight-light small-text mb-0 text-muted">2 days ago</p>
                                </div>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </div>


                    </div>
                  </div>


                </div>


              </div>



              <div class="row">
                <div class="col-sm-6">
                  <p class="mb-0 mt-2 text-primary">
                    In-Transit
                    <span class="text-black ms-1"><small>({{ details.inTransit }})</small></span>
                  </p>
                </div>
                <div class="col-sm-6">
                  <div class="more" (click)="ByZoneRecord(details.zoneCode)">
                    <p class="mb-0 mt-2 text-primary" style="float: right;" id="more">more details..</p>
                  </div>
                </div>
              </div>

            </div>

          </div>


        </div>
      </div>








      <div class="container">

        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-start">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Source Icon : <img src="assets/pjlphotos/S.png" alt="" width="50px" ></span>
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Destination Icon: <img src="assets/pjlphotos/D2.png" alt="" width="50px" ></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Current Icon:<img src="assets/pjlphotos/D5.png" alt="" width="50px" ></span>
          </div>
        </footer>
      </div>



      <div id="map" style="height: 450px; width: 100%;"></div>
      <br>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
        </div>
      </div>

    </div>

  </div>

</div>
