#map {
  height: 100%;
  width: 100%;
}

.blinking-marker {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

html, body, app-root, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#more
{
  float: right;
    padding: 5px;
    background: #f2f2ff;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 700;
}




.card {
  position: relative;
  overflow: hidden; /* Ensure that the pseudo-element does not overflow the card */
  background-color: white;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: blue;
  transition: all 1s linear ; /* Transition for width change */
}

.card:hover::before {
  width: 100%;
  background-color: rgb(225, 225, 249);
  color: black;
  opacity: .2;
  z-index: 100;
  pointer-events: none;

}
