#map {
  height: 100%;
  width: 100%;
}

.blinking-marker {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

html, body, app-root, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#more
{

    padding: 2px;
margin-right: 5px;
    background: aliceblue;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 700;
    font-size: 11px;

}

#more1
{

    padding: 2px;
margin-right: 1px;
    background: black;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 700;
    font-size: 11px;
    color: white;
}





.card {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-left: 1px solid blue;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card:hover {
  box-shadow: 2px 2px 12px grey;
  transform: translateY(-10px); /* Moves the card slightly upwards */
  opacity: 0.9; /* Creates a slight fading effect */
  cursor: pointer;
}


/* .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: blue;
  transition: all 1s linear ;
} */

/* .card:hover::before {
  width: 100%;
  background-color: rgb(225, 225, 249);
  color: black;
  opacity: .2;
  z-index: 100;
  pointer-events: none;


} */


.dropdown-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
}

.indicator-bar {
  width: 4px;
  height: 4px;
  background-color: #007bff;
  margin-bottom: 2px;
  border-radius: 50%;
}

.indicator-bar:last-child {
  margin-bottom: 0;
}
