




<div class="container-fluid page-body-wrapper">

  <div class="main-panel" style="width: 100%; position: relative; overflow: visible;">

    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
<b>Rakes Tracks</b>
        </div>
        <div class="col-sm-2">


        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div> -->
    <!-- style="display: flex;flex-direction: row;justify-content: space-between;" -->

    <div class="container-details" >

      <div class="row">
        <div class="col-sm-2">   <div class="header"></div>

        <button class="btn btn-secondary"  (click)="getBack()">Back</button>
        <p style="padding: 1px;background-color: aliceblue;">Updated {{ timeAgo }} </p>
      </div>

      <div class="col-sm-6" style="    background: aliceblue;
    border-radius: 20px;">


        <div class="details-section" style="width: 100%;">

          <div class="row">
            <div class="col-sm-6">
              <div class="bl-info">
                <h3>FNR No: <span>{{fnrNumber}}</span></h3>
                <h3>Booking No.: <span>SMZDG09006005</span></h3>
                <h3>Container No.: <span>TGBU5105714</span></h3>
            </div>
            </div>
            <div class="col-sm-6">

              <div class="route-info">
                <div class="location japan">
                    <p>{{stationFrom}}</p>
                </div>
                <div class="route">
                    <div class="route-line"></div>
                </div>
                <div class="container" style="width: 2px;"></div>
                <div class="location india">
                    <p>{{stationTo}}</p>
                </div>

            </div>

            </div>
          </div>




      </div>

      </div>


     <div class="col-sm-2">
      <div class="dates-section">
        <div class="dates">
            <p>Start: 14th Sep 2024</p>
            <p>E-END: 20th Sep 2024</p>
        </div>
    </div>
     </div>

     <div class="col-sm-2">
      <div class="delivery-info">
        <p>{{currentLocation}}</p>
      </div>
     </div>

      </div>


  </div>

  <div class="container-fluid">


    <div class="card-container">
      <div class="d-flex justify-content-start mb-3">
        <!-- Radio buttons to toggle between Map and Details -->
        <label class="me-3">
          <input type="radio" [(ngModel)]="viewMode" value="map" checked class="custom-radio"> Map
        </label>
        <label>
          <input type="radio" [(ngModel)]="viewMode" value="details"  class="custom-radio"> Details
        </label>
      </div>

    <mat-divider></mat-divider>

      <!-- Show map or details based on selected radio button -->

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div id="map"  style="height: 450px; width:100%;" ></div>
    </div>
    <div class="col-sm-3"  >

     <div class="rail-tracking">
          <div class="header">
            <h5 class="typing-text">FNR Transit Status</h5>

          </div>

          <div class="stationstimeline" style="height: 400px;overflow: scroll;">

            <div *ngFor="let station of allTransitDetails; let i = index" class="station" [ngClass]="{ 'current': i === allTransitDetails.length-1}">


              <div class="icon-container" *ngIf="i < allTransitDetails.length - 1">
                <mat-icon class="station-icon">check_circle</mat-icon>
              </div>

              <div class="station-info">


                <span>{{ station.currentStatus }}</span>

              </div>
              <div class="times">
                <!-- <span>Arrival: {{ station.arrival }}</span>
                <span>Departure: {{ station.departure }}</span> -->
              </div>
            </div>

          </div>




      </div>
    </div>

  </div>
</div>




      <!-- Placeholder for map -->
      <div >



      </div>







    </div>

  </div>


  <!-- <div id="map"></div> -->
  <!-- <div class="blinking-marker" style="width: 40px; height: 40px; background-image: url(https://via.placeholder.com/40); background-size: contain;"></div> -->
</div>






