#map {
  height: 100%;
  width: 100%;
}

.blinking-marker {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

html, body, app-root, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#more
{

    padding: 5px;
    margin-right: 2px;
    background: aliceblue;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 700;
    font-size: 11px;
    font-weight: bold;
}




.card {
  position: relative;
  overflow: hidden; /* Ensure that the pseudo-element does not overflow the card */
  background-color: white;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-left: 1px solid blue;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card:hover {
  box-shadow: 2px 2px 12px grey;
  transform: translateY(-10px); /* Moves the card slightly upwards */
  opacity: 0.9; /* Creates a slight fading effect */
  cursor: pointer;
}

.dropdown-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
}

.indicator-bar {
  width: 4px;
  height: 4px;
  background-color: #007bff;
  margin-bottom: 2px;
  border-radius: 50%;
}

.indicator-bar:last-child {
  margin-bottom: 0;
}


.stationstimeline {
  overflow: visible;

  border-left: 2px solid #004aad;

  z-index: 700;
  height: 400px;
  overflow: scroll;
  scrollbar-width: none;
  /* background-color: aliceblue; */
}



.stationstimeline::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.station-info {
  font-size: 14px;

  z-index: 700;
  background-color: aliceblue;
  padding: 8px;
  border-radius: 10px;
}

.station-info:hover{
  border-left: 1px solid blue;
box-shadow: 2px 2px 12px grey;
cursor: pointer;
}
.station{
  margin-top: 2px;
}




